

.cart-add-btn {
    background-color: rgba(0, 100, 42, 0.9);
    padding: 8px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.products-container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px 25px;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(61, 255, 143, 0.85) 8.98%, #26AD5F 87.65%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card {
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.card-btn-style {
    font-size: 16px;
    border-radius: 5px;

    color: white;
    background: #26AD5F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    padding: 3px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-btn-style:hover {
    background: #00642A;
}

.card-control-btn-style {
    font-size: 16px;
    border-radius: 5px; 

    color: white;
    background: #26AD5F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

    padding: 3px 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

